.background {
  text-align: center;
}

.heading {
  text-decoration: underline;
  margin-top: 50px;
}

.container {
  text-align: center;
}
.cols1 {
  float: left;
  width: 500px;
  align-items: center;
  padding-left: 250px;
}

.cols2 {
  float: left;
  width: 500px;
  padding-left: 100px;
  align-items: center;
}

.text {
  padding-top: 20px;
}
