.background {
}

.heading {
  text-decoration: underline;
  margin-top: 50px;
}

.cols1 {
  float: left;
  width: 500px;
}

.cols2 {
  float: left;
  margin-left: 30px;
  width: 500px;
}

.text {
  padding-top: 20px;
}
