.background {
  text-align: center;
}

.heading {
  text-decoration: underline;
  margin-top: 50px;
}

.container {
  padding-left: 250px;
}
.cols1 {
  float: left;
  width: 400px;
  text-align: left;
}

.cols2 {
  float: left;
  width: 400px;
  text-align: left;
}

.text {
  padding-top: 20px;
}
