.background {
  background-color: #3b3b36;
  padding-bottom: 2vw;
}

.container {
  display: flex;
}

.title {
  padding: 5vw 5vw 5vw 10vw;
  font-family: 'Bungee Shade', cursive;
  font-size: 5vw;
  color: lightgreen;
}

.textBox2 {
  padding-top: 8vw;
  color: lightgreen;
  padding-left: 10vw;
  padding-right: 10vw;
}

.text2 {
  border: 0.2vw solid lightgreen;
  border-radius: 2.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 4vw;
}

a {
  text-decoration: none;
}

.borderBox {
  width: 80vw;
  border: 0.2vw solid white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2.5vw;
  margin-bottom: 5vw;
}

.borderBoxHeader {
  padding-left: 3vw;
  padding-top: 1vw;
  font-family: 'Bungee Shade', cursive;
  color: lightgreen;
  font-size: 2.5vw;
}

.borderBoxText {
  padding-left: 3vw;
  color: white;
  padding-right: 3vw;
  font-size: 2vw;
  font-family: 'Open Sans', sans-serif;
}

.textLinkBorder {
  margin-bottom: 3vw;
  margin-top: 3vw;
}
.textLink {
  border: 2px solid lightgreen;
  border-radius: 2.5vw;
  color: lightgreen;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  margin-left: 3vw;
  margin-bottom: -3vw;
  font-size: 2vw;
  padding: 1vw 2vw 1vw 2vw;
}

.arrow {
  width: 3vw;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 8vw;
  }
  .text2 {
    font-size: 4vw;
  }
  .borderBoxHeader {
    font-size: 6vw;
  }
  .borderBoxText {
    font-size: 5vw;
  }
  .textLink {
    font-size: 5vw;
  }
  .arrow {
    width: 5vw;
  }
}
