.background {
  background-color: #3b3b36;
  padding-bottom: 2vw;
}

.container {
  display: flex;
}

.title {
  padding: 5vw 5vw 5vw 10vw;
  font-family: 'Bungee Shade', cursive;
  font-size: 5vw;
  color: lightgreen;
}

.textBox2 {
  padding-top: 8vw;
  color: lightgreen;
  padding-left: 10vw;
  padding-right: 10vw;
}

.text2 {
  border: 2px solid lightgreen;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 5vw;
  width: 100%;
}

a {
  text-decoration: none;
}

.borderBox {
  width: 80vw;
  border: 2px solid white;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  margin-bottom: 50px;
}

.borderBoxHeader {
  padding-left: 30px;
  padding-top: 10px;
  font-family: 'Bungee Shade', cursive;
  color: lightgreen;
  font-size: 2.5vw;
}

.borderBoxText {
  padding-left: 30px;
  color: white;
  padding-right: 10px;
  font-size: 2vw;
  font-family: 'Open Sans', sans-serif;
}

.textLink {
  color: lightgreen;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.linkText {
  font-size: 3vw;
}

@media only screen and (max-width: 600px) {
  .borderBoxHeader {
    font-size: 3vw;
  }
  .borderBoxText {
    font-size: 3vw;
  }
  .borderBox {
    height: 40vh;
  }
}
