.background {
  background-color: #3b3b36;
}

.container {
  display: flex;
}

.title {
  padding: 50px;
  font-family: 'Bungee Shade', cursive;
  font-size: 50px;
  color: lightgreen;
}

.text2 {
  font-size: 30px;
  padding-top: 80px;
  color: lightgreen;
  padding-left: 200px;
}
