.contact {
  margin-top: 100px;
  text-decoration: none;
}

.contactBox {
  position: relative;
  border: 2px solid black;
  border-bottom: 6px solid black;
  border-radius: 25px;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  margin-bottom: 70px;
}

.headingBox {
  position: absolute;
  width: 100%;
  text-align: center;
  top: -4vw;
}

.headingText {
  position: relative;
  background-color: white;
  font-family: 'Bungee Shade', cursive;
  font-size: 5vw;
}

.text {
  padding-top: 50px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2vw;
  font-family: 'Open Sans', sans-serif;
}

.contactImagesBox {
  text-align: center;
}

.images {
  width: 10rem;
  padding-left: 25px;
  padding-right: 25px;
}

@media only screen and (max-width: 600px) {
  .images {
    width: 5em;
    padding-left: 10px;
    padding-right: 10px;
  }
  .text {
    font-size: 5vw;
  }
}
