.contact {
  margin-top: 10vw;
  text-decoration: none;
}

.contactBox {
  position: relative;
  border: 0.2vw solid black;
  border-bottom: 0.6vw solid black;
  border-radius: 2.5vw;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7vw;
  padding-bottom: 5vw;
}

.headingBox {
  position: absolute;
  width: 100%;
  text-align: center;
  top: -4vw;
}

.headingText {
  position: relative;
  background-color: white;
  font-family: 'Bungee Shade', cursive;
  font-size: 5vw;
}

.text {
  padding-top: 5vw;
  text-align: center;
  margin-bottom: 3vw;
  font-size: 2vw;
  font-family: 'Open Sans', sans-serif;
}

.contactImagesBox {
  text-align: center;
}

.images {
  width: 20vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

@media only screen and (max-width: 600px) {
  .headingText {
    top: -1vw;
    font-size: 8vw;
  }
  .text {
    font-size: 5vw;
  }
}
