.image {
  width: 250px;
  text-align: left;
  float: left;
  border-radius: 10px;
}

.imageTextDiv {
  margin-top: 100px;
  border: solid 5px;
  border-radius: 10px;
  height: 342px;
  width: 260px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.imageText {
  font-size: 2rem;
}
