body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.div {
  position: absolute;
  background-color: #535961;
  text-align: center;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding-top: 2vw;
  padding-bottom: 2vw;
  z-index: 10;
}

.li {
  font-size: 3vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  list-style: none;
  display: inline;
  padding-right: 5vw;
  color: white;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.li :hover {
  color: lightgreen;
}

.link {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .li {
    font-size: 4.5vw;
  }
}
