.div {
  background-color: lightgreen;
  text-align: right;
  margin-bottom: 20px;
  width: 100%;
}

.li {
  font-size: 30px;
  list-style: none;
  display: inline;
  padding-right: 50px;
  color: purple;
}

.li :hover {
  color: red;
}

.link {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .li {
    font-size: 18px;
    padding-right: 19px;
  }
}
