.div {
  background-color: lightgreen;
  text-align: right;
  margin-bottom: 20px;
  width: 100%;
}

.li {
  font-size: 30px;
  list-style: none;
  display: inline;
  padding-right: 50px;
}

.link {
  text-decoration: none;
}
