.background {
  background-color: #3b3b36;
}

.twoCol {
}

.col1 {
}

.image {
  width: 400px;
  border-radius: 50%;
  padding: 150px 50px 50px 50px;
  margin: 50px 50px 50px 50px;
}

.col2 {
  padding-top: 200px;
}

.text {
  border-radius: 25px;
  border: 2px solid white;
  padding: 20px;
  width: 500px;
  height: 400px;
}
