.background {
  background-color: #3b3b36;
  width: 100%;
}

.container {
  display: flex;
}

.image {
  width: 25vw;
  height: 25vw;
  border-radius: 100%;
  margin-left: 10vw;
  margin-top: 150px;
  margin-right: 10vw;
  margin-bottom: 100px;
}

.textBox {
  position: relative;
  border-radius: 25px;
  border: 0.2vw solid white;
  margin-top: 150px;
  margin-right: 100px;
  margin-bottom: 100px;
  width: 100%;
}

.header {
  position: absolute;
  left: 25px;
  background-color: #3b3b36;
  color: lightgreen;
  top: -3vw;
  font-family: 'Bungee Shade', cursive;
  font-size: 3vw;
}

.text {
  color: white;
  padding-left: 2vw;
  padding-top: 2vw;
  font-size: 2vw;
}

@media only screen and (max-width: 600px) {
  .text {
    font-size: 2vw;
  }
  .header {
    top: -2vw;
    left: 2vw;
    font-size: 3vw;
  }
  .image {
    width: 50vw;
    height: 50vw;
  }
  .textBox {
    margin-right: 10vw;
  }
}
