.background {
  background-color: #3b3b36;
  width: 100%;
}

.container {
  display: flex;
}

.image {
  width: 25vw;
  height: 25vw;
  border-radius: 100%;
  margin-left: 10vw;
  margin-top: 150px;
  margin-right: 10vw;
  margin-bottom: 100px;
}

.textBox {
  position: relative;
  border-radius: 25px;
  border: 2px solid white;
  margin-top: 150px;
  margin-right: 100px;
  margin-bottom: 100px;
  width: 100vw;
}

.header {
  position: absolute;
  left: 25px;
  background-color: #3b3b36;
  color: lightgreen;
  top: -30px;
  font-family: 'Bungee Shade', cursive;
  font-size: 2vw;
}

.text {
  color: white;
  padding-left: 25px;
  padding-top: 40px;
}

@media only screen and (max-width: 600px) {
  .li {
    font-size: 15px;
    padding-right: 10px;
  }
}
