.containerOne {
  display: flex;
  flex-direction: row;
  background-color: red;
  margin-top: 50px;
  margin-bottom: 100px;
}

.projectOneImage {
  border: 2px solid black;
}

.projectOneText {
  border: 2px solid black;
}

.containerTwo {
  display: flex;
  flex-direction: row;
  background-color: red;
  margin-bottom: 100px;
}
