.containerOne {
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  margin-top: 50px;
  margin-bottom: 100px;
}

.projectOneImage {
  border: 2px solid black;
  margin-left: 110px;
  width: 25vw;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;

  border-bottom: 6px solid black;
}

.projectOneText {
  border: 2px solid black;
  margin-left: 50px;
  width: 51vw;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 6px solid black;
}

.containerTwo {
  display: flex;
  flex-direction: row;
  background-color: red;
  margin-bottom: 100px;
}
