.project_div {
  text-align: center;
}

.text {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 20px;
}

.text :hover {
  color: red;
}

.project_img {
  width: 500px;
}

.figure {
  border: thin whitesmoke solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 500px;
  margin: auto;
}

.figcaption {
  background-color: #222;
  color: #fff;
  font: italic medium sans-serif;
  padding: 5px;
  text-align: center;
}
