.text {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 20px;
}

.project_img {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.figcaption {
  text-align: center;
}
