.headingText {
  position: relative;
  background-color: white;
  font-family: 'Bungee Shade', cursive;
  font-size: 5vw;
  padding: 5vw 5vw 5vw 10vw;
}

@media only screen and (max-width: 600px) {
  .headingText {
    font-size: 8vw;
  }
}
